<launch>
	<arg name = "robot_id" default = "agent_1"/>
	<arg name = "x" default = "0"/>
	<arg name = "y" default = "0"/>
	<arg name = "theta" default = "0"/>
	
	<node 	name = "$(arg robot_id)_node" 
			pkg = "ros_multi_agent_planning"
			type = "agent_node" 
			args = "$(arg robot_id) $(arg x) $(arg y) $(arg theta)" 
			output = "screen"/>
</launch>
